*~
*.[oa]
*.so
daemon/automount
*.orig
*.rej
TAGS
Makefile.conf
config.log
config.status
include/config.h
lib/mount.h
lib/mount_clnt.c
lib/mount_xdr.c
man/autofs.8
samples/autofs-ldap-auto-master
samples/rc.autofs
configure
debian/package_build/usr/*
debian/package_build/etc/*
*.deb
